* {
    box-sizing: border-box
}

body {
    margin:10;
    background-color: azure;
    transition: background-color .5s;
}

.dark{
    background-color: darkgray;
}

.box{
    padding: 20px;
    background-color: slategray;
    color: white;
    font-size: 20px;
    height: 100vh;
    position: fixed;
    top:0;
    right:-300px;
    width:300px;
    border: 1px solid;
    transition: right .5s;
}

.active {
  right:0;
  }
  
button {
    padding: 10px;
    border:1px solid;
    cursor:pointer;
    background-color: thistle;
    border-radius:5px;
    transition: background-color .2s;
}

button:hover {
    background-color: pink;
}
button:active {
    background-color: white;
}

.obj {
    background-color: cornflowerblue;
    border: 1px solid;
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 40px;
    left: 40px;
    transition: transform 1s, background-color 1s;
}

.spin {
transform: rotate(360deg);
background-color:yellowgreen;
}